html,body
{
  margin: 0;
  padding: 0;
}
body {
    font-family: "Roboto";
    background-color: #E8E8E8;
    color: #424242;
}
/* FONTS */

body, p, h1, h2, h3, h4{
  font-family: "Roboto";
}

h2{
  margin-top:10px;
  font-weight:bold;
  font-size: 35px;
}

h4{
  text-align: center;
  font-weight: bold;
  font-size:15px;
}

p {
    font-size:12px;
    margin:0;
}

span{
  display: inline-block;
}

/* END OF FONTS */

path {
    stroke: white;
    stroke-width: 0.5px;
    fill: black;
}


svg {
    font: 10px sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#maincontent{
  height:1200px;
}

#barChart{
    display: block; 
    margin: auto;
    padding-left: 4%;
    padding-right: 3%;

}

#loading{
  padding-top: 15%;
}

#loadingSymbol{
  text-align: center;
}
.logo {
    display:inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    font-size: 30px;
    color: #FFFFFF;
    background: -webkit-linear-gradient(right, #FF5252 , #26A1ED );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#chart {
  width: 100%;
  margin: auto;
}

#barchartHeadings{
  padding-top: 20px;
  margin-bottom: -20px;
  text-align: right;
}
#barchartLabel{
  padding-top: 50px;
 text-align: right;
}
.charts-view{
  margin:0px;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}

.country:hover{
    stroke: #fff;
    stroke-width: 1.5px;
}
.text{
    font-size:10px;
    text-transform:capitalize;
}

#container {
    margin:10px 10%;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.vishidden{
  opacity: 0;
  visibility: hidden;
}

#dims {
    position:relative;
    z-index:999;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}


.world {
    top:600px;
}

/* Tooltips barchart */
.bar:hover {
  fill: orange ;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #EDF0F1;
  color: black;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #EDF0F1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Tooltips barchart end */

/*Slider area*/
.slider{
  width: 100%;
  margin: auto;
  padding-top: 40px;

}

.slider h2{
  padding-top: 40px;
  padding-left: 35%;
}

#slider #slider2 {
  background-color: black;
  height: 4px;
  width: 455px;
}

.d3-slider-handle{
    background: white !important;

}
#handle-one{
  border-radius: 50%;
  width: 20px;
  border: 2px solid black;
}


/*Slider area end*/

#sidebar {
    height: 1200px;
    margin:0px;
    text-align:center;
    box-shadow: 0px 0px 10px #858585;
    background-color: white;
  	margin:0px;
    text-align:center;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    right: 0px;
}

.row{
    overflow: hidden;
    height: 100%;
}

#selectCountry {
    font-size:14px;
    font-weight:bold;
    margin-top:250px;
}

.lineChart {
    overflow: auto;
    margin-left: 10%;
    padding-left: 10%;
}

#sidebarMultipleCountries { font: 12px;}

#sidebarMultipleCountries path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

#sidebarMultipleCountries .axis path,
#sidebarMultipleCountries .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#line-chart-container path {
	fill: none;
	stroke: teal;
}

#lineChart-tradeBalance path.domain {
	stroke-width: 1;
	stroke: black;
}

#maincontent {
    background-color: #E8E8E8;
}

#mapScreen {
    height:1200px;
    width:70%;
    margin-left:45px;
    background-color: white;
    box-shadow: 0px 0px 10px #858585;
}

#multiples{
  height: 370px;
}

#additional-countries-hint p{
  font-size: 14px;
  margin-top: 20px;
}

#impExp{
  margin:auto;
  margin-top: 20px;
  font-size:12px;
}


#sidebar{
  padding:10px;
}

#sidebar p{
  float: center;
}

.anchor{
  font-size: 16px;
}

#multipleCountries {
    height:100%;
}


#multipleCountriesCheckboxLabel{
  position: absolute;
  top:10px;
  right:15px;
  font-size:12px;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

#multipleCountriesCheckbox{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -3px;
  *overflow: hidden;
  right:5px;
}


.leftTriangle {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-color: transparent transparent rgba(255,255,255,1) rgba(255,255,255,1);
    float: left;
    box-shadow: 0px 0px 10px #858585;
    background-color:white;
    margin-top:50px;
    margin-left: 50px;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
}

.leftTriangleContainer{
  overflow: hidden;
  position: absolute;
  height:200px;
  width:100px;
  top: 250px;
  left: -100px;
  text-align:left;
}

#openclose {
    top:20px;
    left:20px;
    font-size: 30px;
    z-index: 1;
    text-align: center;
    position: relative;
    margin: 0px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
 }

.equator {
    stroke:#000000;
    stroke-dasharray: 2;
}

#sidebarMultipleCountries {
    width:200%;
    height:100%;
    position: absolute;
    left:100%;
    top:0;
    background-color: rgba(255,255,255,1);
  }

#pie-chart g{
  font-size: 10px;
}

/* ny slider */
.chroniton {
  font: 14px sans-serif;
  outline:none;
  text-align: center;
}
.chroniton .play-button {
  fill:#444;
}
#slider2 .axis path,
#slider2 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#slider2 .x.axis, .slider text {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  color: #424242;
}
#slider2  .x.axis path.domain {
  stroke-width:6;
  stroke-linecap:round;
  stroke:#424242;
}

#slider2 .tick line {
visibility: hidden;
}
.slider .handle {
  fill: white;
  stroke-width:1;
  stroke:#333;
}
.slider .handle, .slider text {
  cursor: move;
  cursor: -webkit-grab;
  transition:fill 200ms ease-in-out;
}
.handle:active, .slider text:active {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.slider.brushing .handle {
  fill: #eee;
}
.label {
  font:bold 12px sans-serif;
}

#slider2{
  height: 60px;
}
.chroniton{
  width: 100%;
}
/* ny slider end*/


/*Neds채nkt 2a p책 CO2. allts책:  <p>This text contains <sub>subscript</sub> text.</p>*/
#sup,
#sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;

}

#sup {
bottom: 1ex;
}

sub {
top: .5ex;
}
/*Neds채nkt 2a end*/
#deselectCountries {
    text-decoration: underline;
    cursor:pointer;
}

.unfocus {
    opacity:0.2;
}


/*Bar chart continent labeling */

.myaxis text {
  font: 14px sans-serif;
}

.myaxis .tick line{
  visibility: hidden;
}
.myaxis path,
.myaxis line {
  fill: #424242;
  stroke: #000;
  shape-rendering: crispEdges;
  margin: 10px;
}
/*End of continent labeling style*/

/*Inforutor*/ 

#tradebalance-info, #barchart-info, #renewable-info{
  margin-left:10px;
}

div.info-box-tooltip{
    text-align: center;
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    position: absolute;
    font-weight: 400;
    width:200px;
    opacity:1;
    z-index:1000;
}
