body, p, h1, h2, h3, h4{
  font-family: "Roboto";
  color: #424242;
}

h2{
  margin-top:10px;
  font-weight:bold;
  font-size: 35px;
}

h4{
  text-align: center;
  font-weight: bold;
  font-size:15px;
}
h5{
  font-size: 16px;
  
}

p {
    font-size:12px;
    margin:0;
}



.logo {
    display:inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    font-size: 30px;
    color: #FFFFFF;
    background: -webkit-linear-gradient(right, #FF5252 , #26A1ED );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu li {
    display:inline-block;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}

#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 10px;
    margin:0;
    text-align: right;

}

a{
    color: black;
}

a:focus {
  color: black;
  text-decoration: none;
}

#about-menu:hover, 
#about-menu:active,
.active #about-menu{
  color: rgb(0,125,233);
  text-decoration: none;
}

#how-it-works-menu:hover, 
#how-it-works-menu:active,
.active #how-it-works-menu{
  color: rgb(54,166,235);
  text-decoration: none;

}

#demo-menu:hover, 
#demo-menu:active,
.active #demo-menu{
  color: rgb(252,107,107);
  text-decoration: none;
}

#team-menu:hover, 
#team-menu:active,
.active #team-menu{
  color: rgb(255, 0, 0);
  text-decoration: none;

}
.section{
  text-align: center;
}
#section0{
    text-align: center;
}

#section0 h1{
    font-size: 52px;
}

#section1{
  text-align: left;
}

/* Small devices */
@media screen and (max-width: 480px){
  /*Team section*/
    #section4{
      padding-left: 10px !important;
      padding-right: 30px !important;
      }
    #section4 .row{
      height:50% !important;
    }
    .person{
      height: 100% !important;
    }

    .card p{
      margin-left: 10px !important;
      margin-right: 10px !important;
      font-size: 1.3vmin !important;
    }
    #info-text-team{
      padding-left:0 !important;
    }

    /*Demo section*/
    iframe{
      width: 90% !important;
      height: 30% !important;
    }
  }

/* PROFILE CARDS *// 
#section4{
  position: relative;
}
#section4 .row{
  height:100%;
}
#team{
  padding-top:4%;
}

#team-members{
  height: 100%;
}
.person{
  height: 50%;
}

.card {
  height:100%;
  text-align: center;
}

.card p, .card h3{
    text-align: center;
}

.card h3{
  font-size: 2.0vmin; /* procent of viewport(whichever of height or width is lowest) */
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom:0px;
  font-weight: bold;
}

.card__front,
.card__back {
  position:absolute;
  width: 90%;
  height: 90%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #858585;
}

.card__back {
  box-shadow: 0px 0px 10px #858585; 
  background-color: #ffffff;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card__back p{
  font-size: 1.5vmin; /* procent of viewport(whichever of height or width is lowest) */
  margin-left:30px;
  margin-right:30px;
}

.card__front p{
  font-size: 1.5vmin; /* vmin = viewport(whichever of height or width is lowest) */
}


.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.profile_image{
    width:20vmin; /*procent of viewport width*/
    overflow: hidden;
    border-radius: 50%; 
    margin:auto;
    margin-top:1.2vh; /* procent of viewport height*/
}

.profile_image img{
    display: block;
    height: 20vmin; /* procent of viewport width */
    width:auto;
}

.profile_contact{
  text-align: center;
  margin-top: 0.8vmin; /* procent of viewport height */
}
.profile_contact img{
    display: inline-block;
    width:3.2vmin; /* procent of viewport height */
}

.btn-custom{
    margin-top:150px;
    height:120%;
    width:130px;
    border-radius: 30px;
    background-color: #FF5252;
    color:white;
}

.how_it_works{
  padding-left:40px;
  padding-right:40px;
}

.how_it_works p{
  margin-left:20px;
  margin-right:20px;
}

.how_it_works_img{
  text-align: center;
  margin:auto;
  width:280px;
  height:280px;
  overflow:hidden;
}

.how_it_works_img img{
  max-height:280px;
}

#section0{
 background: url(Startpage_NoText.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.arrow_down{
  width:80px;
  position:absolute;
  bottom:-15px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#info-text-team{
  padding-left:25px;
  margin-bottom: 40px;
  text-align: left;
}