html,body
{
  margin: 0;
  padding: 0;
}
body {
    font-family: "Roboto";
    background-color: #E8E8E8;
    color: #424242;
}
/* FONTS */

body, p, h1, h2, h3, h4{
  font-family: "Roboto";
}

h2{
  margin:0;
  font-size: 35px;
  padding: 20px;
}

h4{
  text-align: center;
  font-weight: bold;
  font-size:15px;
}

p {
    font-size:13px;
    margin:0;
}

span{
  display: inline-block;
}


img{
  height: 120px;
  width:120px;
  border-radius: 50%;
}
#loading{
  padding-top: 15%;
}

#loadingSymbol{
  text-align: center;
}
.logo {
    display:inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    font-size: 30px;
    color: #FFFFFF;
    background: -webkit-linear-gradient(right, #FF5252 , #26A1ED );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.row{
    overflow: hidden;
    height: 100%;
}

#heading{
  text-align: center;
  margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid white;
   
}

li {
    float: left;
    background-color: white;
    margin-left: 20px;
        box-shadow: 0px 0px 5px #858585;

}

li a {
    display: block;
    color: #424242;
    padding: 10px;
}

li a:hover {
    background-color: #FF5252;
    color: white;
    text-decoration: bold;
}

#content{
  background-color: white;
  height: 100%;
  box-shadow: 0px 0px 5px #858585;
}

#container{
margin:20px;
}

.info-content{
  text-align: center;
  padding: 20px;
}

.info-content h2{
  
}